<a href="https://colab.research.google.com/github/lpdiego/RepoPruebaGoogleColab/blob/main/DatosDesdeDrive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np

# Conectar al Drive
Con estas instrucciones le damos permiso a este notebook para modificar, subir y cargar datos de nuestro Drive.

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Bajando un archivo del Drive para usarlo
Bajamos un .csv del drive para realizar acciones con Ã©l. En este caso en mi drive tengo el archivo music.csv, pero para casos particulares hay que verificar el archivo correcto y la carpeta en donde se encuentra.

In [4]:
df = pd.read_csv('/content/drive/My Drive/music.csv')
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [38]:
newdf = pd.DataFrame(np.array([[1,2,3], [4,5,6], [7,8,9]]))

df.shape

(18, 3)

In [39]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000